<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>item_portable_coil_asst_portable_coil_bolt1_f1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{38,36}</string>
                <key>spriteSourceSize</key>
                <string>{40,42}</string>
                <key>textureRect</key>
                <string>{{867,251},{38,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_portable_coil_asst_portable_coil_bolt1_f2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{39,33}</string>
                <key>spriteSourceSize</key>
                <string>{41,41}</string>
                <key>textureRect</key>
                <string>{{861,52},{39,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_portable_coil_asst_portable_coil_bolt1_f3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{38,35}</string>
                <key>spriteSourceSize</key>
                <string>{40,43}</string>
                <key>textureRect</key>
                <string>{{858,105},{38,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_portable_coil_asst_portable_coil_bolt1_f4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{37,34}</string>
                <key>spriteSourceSize</key>
                <string>{41,42}</string>
                <key>textureRect</key>
                <string>{{866,1},{37,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_portable_coil_asst_portable_coil_bolt1_f5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{39,36}</string>
                <key>spriteSourceSize</key>
                <string>{41,42}</string>
                <key>textureRect</key>
                <string>{{842,210},{39,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_portable_coil_asst_portable_coil_bolt2_f1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{33,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,59}</string>
                <key>textureRect</key>
                <string>{{820,259},{33,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_portable_coil_asst_portable_coil_bolt2_f2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{35,49}</string>
                <key>spriteSourceSize</key>
                <string>{45,61}</string>
                <key>textureRect</key>
                <string>{{768,210},{35,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_portable_coil_asst_portable_coil_bolt2_f3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{37,51}</string>
                <key>spriteSourceSize</key>
                <string>{47,61}</string>
                <key>textureRect</key>
                <string>{{822,52},{37,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_portable_coil_asst_portable_coil_bolt2_f4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{46,60}</string>
                <key>textureRect</key>
                <string>{{768,261},{34,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_portable_coil_asst_portable_coil_bolt2_f5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,47}</string>
                <key>spriteSourceSize</key>
                <string>{47,55}</string>
                <key>textureRect</key>
                <string>{{805,210},{35,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_portable_coil_asst_portable_coil_bolt2_f6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{31,44}</string>
                <key>spriteSourceSize</key>
                <string>{47,52}</string>
                <key>textureRect</key>
                <string>{{767,52},{31,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_portable_coil_asst_portable_coil_death_f1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,112}</string>
                <key>spriteSourceSize</key>
                <string>{85,112}</string>
                <key>textureRect</key>
                <string>{{240,1},{83,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_portable_coil_asst_portable_coil_death_f10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{34,30}</string>
                <key>spriteSourceSize</key>
                <string>{34,36}</string>
                <key>textureRect</key>
                <string>{{650,269},{34,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_portable_coil_asst_portable_coil_death_f2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{83,98}</string>
                <key>spriteSourceSize</key>
                <string>{85,102}</string>
                <key>textureRect</key>
                <string>{{466,211},{83,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_portable_coil_asst_portable_coil_death_f3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{83,103}</string>
                <key>spriteSourceSize</key>
                <string>{85,107}</string>
                <key>textureRect</key>
                <string>{{410,1},{83,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_portable_coil_asst_portable_coil_death_f4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{83,103}</string>
                <key>spriteSourceSize</key>
                <string>{85,107}</string>
                <key>textureRect</key>
                <string>{{421,106},{83,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_portable_coil_asst_portable_coil_death_f5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-7}</string>
                <key>spriteSize</key>
                <string>{99,96}</string>
                <key>spriteSourceSize</key>
                <string>{103,110}</string>
                <key>textureRect</key>
                <string>{{238,126},{99,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_portable_coil_asst_portable_coil_death_f6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{115,115}</string>
                <key>spriteSourceSize</key>
                <string>{119,127}</string>
                <key>textureRect</key>
                <string>{{121,126},{115,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_portable_coil_asst_portable_coil_death_f7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{118,126}</string>
                <key>spriteSourceSize</key>
                <string>{124,128}</string>
                <key>textureRect</key>
                <string>{{1,130},{118,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_portable_coil_asst_portable_coil_death_f8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,1}</string>
                <key>spriteSize</key>
                <string>{123,117}</string>
                <key>spriteSourceSize</key>
                <string>{133,123}</string>
                <key>textureRect</key>
                <string>{{121,1},{123,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_portable_coil_asst_portable_coil_death_f9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{127,118}</string>
                <key>spriteSourceSize</key>
                <string>{145,124}</string>
                <key>textureRect</key>
                <string>{{1,1},{127,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_portable_coil_asst_portable_coil_f1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{86,60}</string>
                <key>spriteSourceSize</key>
                <string>{90,66}</string>
                <key>textureRect</key>
                <string>{{679,1},{86,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_portable_coil_asst_portable_coil_f2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{85,56}</string>
                <key>spriteSourceSize</key>
                <string>{87,58}</string>
                <key>textureRect</key>
                <string>{{800,123},{85,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_portable_coil_asst_portable_coil_f3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{87,63}</string>
                <key>spriteSourceSize</key>
                <string>{91,69}</string>
                <key>textureRect</key>
                <string>{{297,227},{87,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_portable_coil_asst_portable_coil_f4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,107}</string>
                <key>spriteSourceSize</key>
                <string>{85,107}</string>
                <key>textureRect</key>
                <string>{{336,115},{83,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_portable_coil_asst_portable_coil_f5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,112}</string>
                <key>spriteSourceSize</key>
                <string>{85,112}</string>
                <key>textureRect</key>
                <string>{{325,1},{83,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_portable_coil_asst_portable_coil_glow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{121,243},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_portable_coil_asst_portable_coil_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,49}</string>
                <key>spriteSourceSize</key>
                <string>{97,49}</string>
                <key>textureRect</key>
                <string>{{767,1},{97,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_portable_coil_hit_asst_portable_coil_hit_f1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{78,70}</string>
                <key>spriteSourceSize</key>
                <string>{116,104}</string>
                <key>textureRect</key>
                <string>{{386,224},{78,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_portable_coil_hit_asst_portable_coil_hit_f2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{82,86}</string>
                <key>spriteSourceSize</key>
                <string>{116,104}</string>
                <key>textureRect</key>
                <string>{{566,183},{82,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_portable_coil_hit_asst_portable_coil_hit_f3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{86,88}</string>
                <key>spriteSourceSize</key>
                <string>{116,104}</string>
                <key>textureRect</key>
                <string>{{506,93},{86,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_portable_coil_hit_asst_portable_coil_hit_f4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{90,88}</string>
                <key>spriteSourceSize</key>
                <string>{116,104}</string>
                <key>textureRect</key>
                <string>{{495,1},{90,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_portable_coil_hit_asst_portable_coil_hit_f5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{92,82}</string>
                <key>spriteSourceSize</key>
                <string>{116,104}</string>
                <key>textureRect</key>
                <string>{{585,1},{92,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_portable_coil_hit_asst_portable_coil_hit_f6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{92,76}</string>
                <key>spriteSourceSize</key>
                <string>{116,104}</string>
                <key>textureRect</key>
                <string>{{594,85},{92,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_portable_coil_hit_asst_portable_coil_hit_f7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{88,76}</string>
                <key>spriteSourceSize</key>
                <string>{116,104}</string>
                <key>textureRect</key>
                <string>{{650,179},{88,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>portable_coil_lightning_fx_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{67,3}</string>
                <key>spriteSize</key>
                <string>{148,48}</string>
                <key>spriteSourceSize</key>
                <string>{376,104}</string>
                <key>textureRect</key>
                <string>{{147,243},{148,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portable_coil_lightning_fx_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{67,3}</string>
                <key>spriteSize</key>
                <string>{148,48}</string>
                <key>spriteSourceSize</key>
                <string>{376,104}</string>
                <key>textureRect</key>
                <string>{{147,243},{148,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portable_coil_lightning_fx_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{80,3}</string>
                <key>spriteSize</key>
                <string>{148,36}</string>
                <key>spriteSourceSize</key>
                <string>{376,104}</string>
                <key>textureRect</key>
                <string>{{672,85},{148,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portable_coil_lightning_fx_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{80,3}</string>
                <key>spriteSize</key>
                <string>{148,36}</string>
                <key>spriteSourceSize</key>
                <string>{376,104}</string>
                <key>textureRect</key>
                <string>{{672,85},{148,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portable_coil_lightning_fx_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{81,2}</string>
                <key>spriteSize</key>
                <string>{144,38}</string>
                <key>spriteSourceSize</key>
                <string>{376,104}</string>
                <key>textureRect</key>
                <string>{{1,258},{144,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portable_coil_lightning_fx_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{81,2}</string>
                <key>spriteSize</key>
                <string>{144,38}</string>
                <key>spriteSourceSize</key>
                <string>{376,104}</string>
                <key>textureRect</key>
                <string>{{1,258},{144,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portable_coil_lightning_fx_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{76,1}</string>
                <key>spriteSize</key>
                <string>{126,40}</string>
                <key>spriteSourceSize</key>
                <string>{376,104}</string>
                <key>textureRect</key>
                <string>{{672,123},{126,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portable_coil_lightning_fx_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{76,1}</string>
                <key>spriteSize</key>
                <string>{126,40}</string>
                <key>spriteSourceSize</key>
                <string>{376,104}</string>
                <key>textureRect</key>
                <string>{{672,123},{126,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portable_coil_lightning_fx_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{66,1}</string>
                <key>spriteSize</key>
                <string>{104,38}</string>
                <key>spriteSourceSize</key>
                <string>{376,104}</string>
                <key>textureRect</key>
                <string>{{728,165},{104,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>portable_coil_lightning_fx_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{66,1}</string>
                <key>spriteSize</key>
                <string>{104,38}</string>
                <key>spriteSourceSize</key>
                <string>{376,104}</string>
                <key>textureRect</key>
                <string>{{728,165},{104,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>portable_coil_lightning_fx_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-186.5,50.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{376,104}</string>
                <key>textureRect</key>
                <string>{{133,243},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sample_image.png</string>
            <key>size</key>
            <string>{1024,300}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a9ebcf479c0f3531ba722127a95f7ec:662744cd743c184138b37ba4776b9eef:9617e6d73fe08b9696c1ffe46ad22c96$</string>
            <key>textureFileName</key>
            <string>sample_image.png</string>
        </dict>
    </dict>
</plist>
